<div class="container">
  <div class="row">
    <div class="card-col col-xs-8 col-xs-offset-2">

      <%= form_for :collection, html: { class:'main-form ','data-toggle': 'validator'}  do |m| %>
          <h1 class=""><span class="glyphicon glyphicon-check"></span> <%= t('collections.new.header') %></h1>
          <%= render partial: 'collections/innerform', locals: {m: m} %>
      <% end %>
    </div>
  </div>
</div>
<br><br><br><br>