<form action="adddrive">
  <h2>Adjuntar Documento de Goole Drive:</h2>
  <p>Hito numero:</p>
  <input name='milestone_id' type='input' value=<%=@milestone_id%> readonly>
  <p>Ingrese al url del documento:</p>
  <input type='input' name='URL'>

  <input type='submit' value='Adjuntar'>
</form>