<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <% if @show_review_table %>
        <%= render "review_table" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render "mentees_table" %>
      <%= render "pending_milestones_table" %>
    </div>
  </div>
</div>