<div>
<h4><%= t('notes.add') %></h4>
<%= form_for([@milestone, @milestone.notes.build], html: { 'data-toggle': 'validator'}) do |n| %>
    <%= n.text_field :text, 'data-validation': "required", class: "submit-on-enter"%>
    <%= n.select(:visibility,options_for_select(
                                    [["&#xe033;".html_safe,:me],
                                     ["&#xe106;".html_safe,:mentors],
                                     ["&#xe105".html_safe,:every_body]]),
                 {}, {class: "glyphicon"}
        )%>

<% end %>
  <br>
  <br>
</div>
