

<%= form_for [@person, @person.milestones.build], html: { class:'timeline-form main-form slide-on-click clearfix','data-toggle': 'validator'}  do |m| %>
    <h1 class=""><span class="glyphicon glyphicon-check"></span> <%= t('milestones.new.header') %></h1>
    <div class="form-slide">
        <%= render partial: 'milestones/innerform', locals: { m: m, in_profile: true} %>
    </div>

<% end %>

<script> $(".chzn-select").chosen();
    if ($('.category').find('option:selected').text()!='Feedback') {
        $('.feedback_autor').hide();
    }else {
        $('.feedback_autor').show();
    }
</script>


<script>
  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'check_due_date',
    validatorFunction : function() {
      var due=document.getElementById('due_date').value;
      if (due=='') return true;
      var parts= due.split('/');
      var due_year= parts[2];
      var due_month= parts[1]-1;
      var due_day= parts[0];
      var due_date=new Date(due_year, due_month, due_day,23,59,59);
      var start=document.getElementById('start_date').value;
      var parts= start.split('/');
      var start_year= parts[2];
      var start_month= parts[1]-1;
      var start_day= parts[0];
      var start_date=new Date(start_year, start_month, start_day,23,59,59);
      return (start=='' || start_date<=due_date);

    },
    errorMessage : '',
    errorMessageKey: 'badDueDate'
  });
  // Setup form validation
  $.validate();
</script>

<script>
  $('.category').change( function() {
    var selectedValue = $(this).find('option:selected').text();
    if (selectedValue=='Feedback'){
      $('.feedback_autor').show('slow');
    }else{

      $('.feedback_autor').hide('slow');
      $('.select_author').val('').trigger("select_author:updated");
    }
  });

</script>
