<div class="container-fluid">
  <div class="card-col col-xs-8 col-xs-offset-2">
    <div class="row">
      <%= render 'info' %>
    </div>
    <h3><%= t('notes.header') %></h3>
    <hr>
    <div class="row">
      <div id="milestone-notes">
        <%= render 'notes/form' %>
        <ul>
          <% @notes.each do |n| %>
            <%= print_note(n) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
