<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-7">
      <%= render 'info' %>
    </div>
    <div class="card-col col-xs-5">
      <div id="milestone-notes">
        <%= render 'notes/form' %>
        <%= render 'notes' %>
      </div>
    </div>


  </div>
</div>
