<% if @milestones and not @milestones.empty? %>
    <div id="timeline-card" class="card timeline">
      <ul id="milestone-list" class="jscroll-container">
        <%= render partial: 'people/inner_timeline_card'%>
      </ul>
    </div>

<% else %>
    <div class="alert alert-info" role="alert"><p><%= t('milestones.zero') %></p></div>
<% end %>
