@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass";

$turqoise: #169F85;
$peterriver: #2980B8;
$mooveit-orange: #FF8D40;
$sunflower: #F0C30F;
$alizarin: #E64C3C;
$midnightblue:#34495E;

$turqoise-dark: #1ABB9B;
$peterriver-dark: #03A5FF;
$mooveit-orange-dark: #FC6A06;
$sunflower-dark: #E8B113;
$alizarin-dark: #FF6C61;
$midnightblue-dark:#23323D;

$nav-background: $midnightblue;
$nav-hover: $peterriver;

@import "navigation";



.card-col {
  padding-left: 8px;
  padding-right: 8px;
}

.card {
  width: 100%;
  padding: 1em;
  margin: 0 0 15px 0em;
  border-bottom: solid 5px;

  color: white;
  text-align: center;

  h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 5px;
  }

  &.card.profile {
    background-color: $turqoise;
    border-color: $turqoise-dark;
    min-height: 15em;
  }


  &.card.events {
    background-color: $mooveit-orange;
    border-color: $mooveit-orange-dark;
    min-height: 15em;
  }


  &.card.stats {
    background-color: $peterriver;
    border-color: $peterriver-dark;
    min-height: 20em;
  }

  &.card.pending {
    background-color: $sunflower;
    border-color: $sunflower-dark;
    min-height: 20em;
  }

  &.card.timeline {
    background-color: $alizarin;
    border-color: $alizarin-dark;
    min-height: 40em;
  }

}

#profile-card {

  h1 {
    margin-top: 0;
    font-size: 20px;
    text-transform: none;
  }
  h2 {
    margin-top: 0px;
    font-size: 13px;
  }

}

ul#skills {

  padding-left: 0;
  margin-top: 20px;

  li {
    list-style: none;
    display: inline-block;
    width: 14%;

    img {
      width: 100%;
    }
  }
}

#profile-picture {

  width: 100%;
  padding: 20px;

  .img-container {
    border-radius: 50%;
    border: solid 2px white;
    width: 100%;
    margin: auto;
    padding: 15px;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }

}

#stats-card {

  vertical-align: middle;
  line-height: 22px;

  font-size: 13px;

  .badge-stats {

    
    border-bottom: 2px solid $peterriver-dark;
    padding-bottom: 20px;

    .badge {
      margin-left: 5px;
      background-color: $midnightblue-dark;
    }
  }

  .knob-stats {

    margin: 30px 0 10px 0;

    .knob {
      display: table;
      margin-bottom: 10px;
    }
    .graph,.text {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }

  }

}

#events-card {
  .separator {
    div {
      text-align: left;
      display: inline-block;
      float: left;
      padding-right: 20px;
    }
    &:after {
      content: '';
      display: block;
      overflow: hidden;
      border-bottom: 2px solid white;
      padding: 0.5rem;
    }
  }
  ul {
    clear: both;
    position: relative;
    z-index: 5;

    li {
      display: block;
      margin-left: 40px;
      background-color: $mooveit-orange-dark;
      border-radius: 5px;
      position: relative;
      

      .day-of-the-week {
        position: absolute;
        left: -40px;
        top: 5px;
        text-transform: uppercase;
        color: $mooveit-orange;
        padding: 2.5px 20px 2.5px 5px;
        border-radius: 5px;
        z-index: -1;
        background-color: white;
        font-weight: bold;
      }

      .content {
        position: relative;
      }

    }
  }
}
