
<div>

  <%= form_for([@milestone, @milestone.objectives.build] , html: { 'data-toggle': 'validator'}) do |f| %>
      <div class="input-group">

        <%= f.text_field :description, class: "submit-on-enter form-control", placeholder: t('milestones.checklist.add_more_items') %>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><%= t('milestones.checklist.add_checklist') %></button>
        </span>
      </div>
  <% end %>
</div>

