<% if can_check_objective?(@milestone) %>
<div class="row">
    <div class="col-xs-12">



      <%= form_for([@milestone, @milestone.objectives.build] , html: { 'data-toggle': 'validator'}) do |f| %>
          <div class="input-group full-width">

            <div>
              <%= f.text_field :description, class: "submit-on-enter form-control", 'data-validation': "required", placeholder: t('milestones.checklist.add_more_items') %>
            </div>

          </div>
      <% end %>
    </div>
</div>
<% end %>