<div>
  <label>
    <%= t('milestones.checklist.actual_objetives') %>
  </label>
  <% if !@milestone.objectives.empty? %>
      <div class="list-group">
        <% @milestone.objectives.each do |n| %>
            <% if n.checked? %>
                <del><a href="#" class="list-group-item disabled">
                  <%= n.description %>
                </a>
                </del>
            <% else %>
                <a href="#" class="list-group-item"><%= n.description %></a>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>