<div id="events-card" class="card events">
  <h1>Eventos</h1>
  <div class="separator"><div>Esta semana</div></div>
  <ul>
    <li>
      <div class="day">16</div>
      <div class="day-of-the-week">Mie</div>
      <div class="content">
        <div class="month-and-year">Septiembre 2015</div>
        <h2>Feedback semestral</h2>
        <p>Reunión de relevamiento de requisitos
          para nuevo proyecto con el cliente XYZ S.A.</p>
      </div>
    </li>
  </ul>
  <div class="separator"><div>Semana próxima</div></div>
</div>