<div id="profile-card" class="card profile">
  <div id="profile-picture">
    <div class="img-container">
      <%= image_tag "test/profile-picture.jpg" %>
    </div>
  </div>
  <h1>Rodrigo Pérez</h1>
  <h2>Software Developer</h2>
</div>