<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-2">
      <%= render 'person/profile_card' %>
      <%= render 'person/stats_card' %>
    </div>
    <div class="card-col col-lg-5">
      <%= render 'person/events_card' %>
      <div class="card pending">
        <h1>Hitos pendientes</h1>
      </div>
    </div>
    <div class="card-col col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <div class="card timeline">

      </div>
    </div>
  </div>
</div>
