function search_ready(){
    var commands = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: "/commands"
    });

    var people = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: "/people.json"
    });

    var milestones = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: "/milestones.json"
    });

    var projects = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: "/projects.json"
    });

    function clearCaches(bloodhound) {
        bloodhound.clear();
        bloodhound.clearPrefetchCache();
        bloodhound.initialize(true);
    }

    clearCaches(projects);
    clearCaches(people);
    clearCaches(milestones);

    $("#nav-search").typeahead({
        minLength: 1,
        highlight: true
    },
    {
        name: 'commands',
        displayKey: 'name',
        source: commands,
        templates: {
            header: "<div class='search-header'>Comandos</div>"
        }
    },
    {
        name: 'people',
        displayKey: 'name',
        source: people,
        templates: {
            header: "<div class='search-header'>Personas</div>"
        }
    },
    {
        name: 'milestones',
        displayKey: 'name',
        source: milestones,
        templates: {
            header: "<div class='search-header'>Hitos</div>"
        }
    },
    {
        name: 'projects',
        displayKey: 'name',
        source: projects,
        templates: {
            header: "<div class='search-header'>Proyectos</div>"
        }
    }).on('typeahead:selected', function(e,data) {
        var form = $("#nav-search-form");
        form.attr("action", data.url);
        form.submit();
    });

}

$().ready(search_ready);