<div class="card-col col-xs-12">
    <label>
        <%= t('project.people.title') %>
    </label>
    <%= form_for :person, url: people_path, html: { 'data-toggle': 'validator'} do |f| %>
    <div class="input_fields_wrap">

        <div class="input-container"><input class="form-control checklist-input" type="text" name="mytext[]"></div>
    </div>
    <br>
    <%= button_tag t('checklist.add_more_items'),options= :type => '#', class: "btn btn-sm btn-primary add_field_button" %>
    <%= f.button t('people.new.submit'), options= :type => 'submit', class: "btn btn-sm btn-primary" %>
    <% end %>
</div>


