<div>
  <label>
    <%= t('milestones.checklist.actual_objetives') %>
  </label>
  <div class="list-group">
    <del><a href="#" class="list-group-item disabled tached">
      Cras justo odio
    </a>
    </del>
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
  </div>
</div>