<% unless Category.all.empty? %>
  <%= form_tag ({:action => 'add_category', :controller => 'milestones', :milestone_id => params[:id]}) do   %>
      <select name="category_id" class="chosen submit-on-select">
            <% Category.all.each do |ca| %>
              <option value=<%=ca.id%> > <%=ca.name%></option>
            <% end %>
          </select>
    <% end %>
<% end %>